
{{#if popover}}
    <span data-popover-host="{{popover.id}}"> </span>
    <div data-{{popover.id}}-content="" class="display:none">
        {{#each popover.groups as |group|}}
            <ul class="list-group">
                <li><strong>{{group.title}}</strong></li>
                {{#each group.items as |item|}}
                    <li class="list-group-item">
                        {{#link-to group.route item.id}}<i class="fa fa-{{group.icon}}"></i> {{item.name}}{{/link-to}}
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </div>
{{/if}}