{{#modal-popup subTitle=(t 'dlPopup.download')  showing=true title=upload.name}}
  <div class="row download-popup">
    <div class="col-md-5">
      <div class="col-panel">
        <p class="text-primary">{{{t 'dlPopup.toUseThisMusic'}}}</p>
        <div>
          <ul class="nav nav-tabs">
            <li class="{{if plainSelected 'active'}}"><a href="#" {{action 'selectFormat' 'plain'}}>{{t 'dlPopup.plainText'}}</a></li>
            <li class="{{unless plainSelected 'active'}}"><a href="#" {{action 'selectFormat' 'html'}}>{{t 'dlPopup.HTML'}}</a></li>
          </ul>
          <textarea id="attributionText" readonly="1" cols="30" rows="2">{{#if plainSelected}}{{t 'dlPopup.licenseTextPlain' songTitle=upload.name artistName=upload.artist.name year=upload.licenseYear licenseName=upload.license_name filePageURL=upload.url}}{{else}}{{{t 'dlPopup.licenseTextHTML' songTitle=upload.name artistName=upload.artist.name year=upload.licenseYear licenseName=upload.license_name filePageURL=upload.url licenseURL=upload.licenseURL}}}{{/if}}{{#if upload.featuring}} {{#if plainSelected}}{{t 'dlPopup.featuring' ft=upload.featuring}}{{else}}{{{t 'dlPopup.featuringHTML' ft=upload.featuring}}}{{/if}}{{/if}}</textarea>
          <div class="text-center">
            <button class="btn btn-sm btn-info" {{action 'copyToClip'}}><i class="fa fa-files-o"></i> {{t 'dlPopup.copyToClip'}}</button>
          </div>
        </div>
      </div>
    </div>          
    <div class="col-md-6">
      <ul class="actions actions-centered">
        <li>
          <a class="btn btn-info btn-lg" href="{{upload.mediaURL}}" download><i class="fa fa-2x fa-cloud-download pull-left"></i> {{t 'dlPopup.downloadButtonText'}} <small>{{downloadSize}}</small></a>
        </li>
        <li class="license-badge">
          <a href="{{upload.licenseURL}}"><img src="{{upload.licenseLogoURL}}" /></a>          
          <a {{action "popup" "license"}}><i class="fa fa-question-circle"></i></a>
        </li>
        <li> 
          <p>
            {{#if upload.isOpen}} 
              {{t 'dlPopup.freeToUse'}}
            {{else}}
              {{t 'dlPopup.forNonComm'}}
            {{/if}}
          </p>
        </li>
       {{#if upload.isCCPlus}}
          <li>
            <a href='{{upload.purchaseLicenseURL}}' class="btn btn-info btn-lg">
            <img src="{{upload.purchaseLogoURL}}" class="pull-left" />  {{t 'dlPopup.buyALicense1'}}</a>
          </li>
          <li>
            <p>{{t 'dlPopup.buyALicense2'}}</p>
          </li>
        {{/if}}        
      </ul>
    </div><!-- col -->
  </div><!-- row --> 
{{/modal-popup}}
