<div class="page-header"> 
  <h1 class="center-text">
    {{#if subTitle}}
      <small><i class="fa fa-{{icon}}"></i> {{subTitle}}</small> {{title}}
    {{else}}
      <i class="fa fa-{{icon}}"></i> {{title}}
    {{/if}}
  </h1>
</div>
