<div class="container play-list">
    <div class="row">
        <div class="col-md-9 col-md-offset-2 col-md-sm-12">
            <ul>
                {{#each model.playlist as |upload|}}
                    <li class="clearfix text-nowrap">
                    <a class="btn btn-lg btn-info"    href="#" {{action "togglePlay" upload}}>{{#if upload.media.isPlaying }}<i class="fa fa-stop"></i>{{else}}<i class="fa fa-play"></i>{{/if}}</a>
                    <a class="btn btn-lg btn-warning" href="#" {{action "doDownloadPopup" upload}}><i class="fa fa-cloud-download"></i></a>
                    <span class="song-title">{{#link-to 'uploads' upload.artist.id upload.id}}{{upload.name}}{{/link-to}}</span> 
                    {{#unless skipUserListing}}
                        <span class="artist-name light-color">{{#link-to 'users' upload.artist.id}}{{upload.artist.name}}{{/link-to}}</span>
                    {{/unless}}
                    </li>
                {{else}}
                    <li><div class="jumbotron">{{t 'playlist.noMatches'}}</div></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>