<a href='#' {{action 'toggle' tag}} data-tag="{{catId}}-{{tag.id}}">
    <i class="fa {{if tag.isSelected 'fa-check-square-o' 'fa-square-o'}}"></i> 
    {{tag.name}} <span class="light-color">({{tag.count}})</span>
</a>
