{{#modal-popup showing=true subTitle=(t 'share.share') title=upload.name}}
  <ul class="actions actions-centered">
    <li>
      <a href="{{fbLink}}" class="btn btn-success"><i class="fa fa-facebook"></i> {{t "share.fb"}}</a>            
    </li>
    <li>
      <a href="{{twitterLink}}" class="btn btn-success"><i class="fa fa-twitter"></i> {{t "share.twitter"}}</a>            
    </li>
    <li>
      <a href="{{mailLink}}" class="btn btn-success"><i class="fa fa-envelope-o"></i> {{t "share.email"}}</a>
    </li>
  </ul>
{{/modal-popup}}
