{{#modal-popup showing=true subTitle=(t 'tbForm.title') title=upload.name action=actionName}}
  <form class="form-horizontal">
  {{#if message}}
      <div class="center-text">
          <span class="label label-{{messageType}}">{{t message}} {{#if icon}}<i class="fa fa-spinner fa-pulse"></i>{{/if}}</span>
      </div>
  {{else}}
      <fieldset>
          {{#if showValidationMessage}}
              <div class="form-group">
                <label class="col-md-4 control-label" for="validation"></label>  
                <div class="col-md-6">
                    <label class="label label-warning">{{t showValidationMessage}}</label>
                </div>
              </div>
          {{/if}}
          <div class="form-group">
            <label class="col-md-4 control-label" for="yourName">{{t "tbForm.yourName"}}</label>  
            <div class="col-md-6">
                {{input value=yourName id="yourName" name="yourName" type="text" placeholder=(t "tbForm.tellUs") class="form-control input-md" }}    
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label required" for="email">{{t "tbForm.youEmail"}}</label>  
            <div class="col-md-6">
                {{input value=email id="email" name="email" type="text" placeholder=(t "tbForm.weMayCon") class="form-control input-md"}}
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="artist">{{t "tbForm.artist"}}</label>  
            <div class="col-md-6">
                {{input value=artist id="artist" name="artist" type="text" placeholder=(t "tbForm.whoMade") class="form-control input-md" }}
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label required" for="link">{{t "tbForm.URL"}}</label>  
            <div class="col-md-6">
                {{input value=link id="link" name="link" type="text" placeholder=(t "tbForm.exURL") class="form-control input-md"}}
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="mtype">
              {{t "tbForm.medType"}}
           </label>
            <div class="col-md-5">
              <select id="mtype" name="mtype" class="form-control" {{action 'typeChange' on='change'}}>
                  {{#each types as |type|}}
                    <option value="{{type}}">{{t (mp "tbForm.types" type)}}</option>
                   {{/each}} 
              </select>
            </div>
          </div>

          {{#if showEmbed}}
              <div class="form-group">
                <label class="col-md-4 control-label" for="embed">{{t "tbForm.embed"}}</label>
                <div class="col-md-4">                     
                  <textarea class="form-control" id="embed" name="embed"></textarea>
                </div>
              </div>
          {{/if}}

      </fieldset>
  {{/if}}
  </form>
{{/modal-popup}}