<div class="container-fluid footer">
  <div class="row">
  <div class="col-md-3">
    <h1>{{t 'footer.here'}}</h1>
    <ul>
    <li>{{link-to (t 'footer.licenses') 'licenses'}}</li>
    <li><a href="http://ccmixter.org/privacy">{{t 'footer.privacy'}}</a></li>
    <li><a href="http://ccmixter.org/terms">{{t 'footer.terms'}}</a></li>
    <li><a href="http://ccmixter.org/keep-ccmixter-open-and-free"><i class="fa fa-heart"></i> {{t 'footer.donate'}}</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <h1>{{t 'footer.there'}}</h1>
    <div class="row">
    <div class="col-md-6">
      <a href="http://ccmixter.org">
      <div class="brand-glyph ccmixter"></div>
      </a>
      <a href="http://tunetrack.net/artistech/">
      <div class="brand-glyph artistech"></div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="http://tunetrack.net">
      <div class="brand-glyph tunetrack"></div>
      </a>
      <a href="http://creativecommons.org">
      <div class="brand-glyph cc"></div>
      </a>
    </div>
    </div>
  </div>
  <div class="col-md-3">
    <h1>{{t 'footer.social'}}</h1>
    <ul>
    <li><a href="https://twitter.com/ccmixtermusic"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCU7QBXVX4gcePOcEyha7yng"><i class="fa fa-youtube"></i> YouTube</a></li>
    <li><a href="https://vimeo.com/ccmixter"><i class="fa fa-vimeo"></i> Vimeo</a></li>
    <li><a href="https://www.facebook.com/CCMixter"><i class="fa fa-facebook"></i> Facebook</a></li>
    <li><a href="http://instagram.com/ccmixter"><i class="fa fa-instagram"></i> Instagram</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <h1>{{t 'footer.resources'}}</h1>
    <ul>
    <li><a href="https://github.com/ArtisTechMedia/dig.ccMixter"><i class="fa fa-github"></i> GitHub</a></li>
    <li><a href="http://ccmixter.org/query-api">Query API</a></li>
    <li><a href="https://ccmixter.org/forum">{{t 'footer.forums'}}</a></li>
    <li><a href="http://ccmixter.org/media/people/contact/admin">{{t 'footer.contactLink'}}</a></li>
    </ul>
  </div>
  </div>
</div>
