<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dig-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    {{#link-to 'index' class="navbar-brand"}}<img src="dig-images/logo.png" title="dig.ccMixter" />{{/link-to}}
  </div>

  <div class="collapse navbar-collapse" id="dig-collapse">
    <ul class="nav navbar-nav">
      <li>
        {{#if loading}}<a href='#'><i style="color:white" class="fa fa-spinner fa-pulse"></i></a>{{/if}}
      </li>    
    </ul>{{! main navbar }}
    <div role="search" class="navbar-form navbar-right">
      <div class="form-group input-group input-group-small">
       <div class="input-group-btn">
        </div>
           {{input type="text" 
          class="form-control" 
          value=searchCollector
          enter="search"
          id="dig"
          size="30"
          placeholder=(t 'navbar.searchPlaceHolder')
        }}
        <span class="input-group-addon">              
          <a href='#' {{action "search" searchCollector}} ><i class="fa fa-search"></i></a>
        </span>
      </div>      
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" {{action 'goToAnchor' 'index' 'howitworks'}}>{{qt 'navbar.links.how'}}</a>
      </li>
      <li>
        {{link-to (qt 'navbar.links.licenses') 'licenses'}}
      </li>
      <li>
          <a  href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{qt 'navbar.popular'}} <i class="fa fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            <li> {{#link-to 'video'  }}<i class="fa fa-fw fa-film"   ></i> {{qt 'navbar.links.film'}}{{/link-to}}</li>
            <li> {{#link-to 'games'  }}<i class="fa fa-fw fa-gamepad"></i> {{qt 'navbar.links.games'}}{{/link-to}}</li>
            <li class="divider"></li>            
            <li> {{#link-to 'free'   }}<i class="fa fa-fw fa-beer"   ></i> {{qt 'navbar.links.free'}}{{/link-to}}</li>
            <li> {{#link-to 'ccplus' }}<i class="fa fa-fw fa-usd"    ></i> {{qt 'navbar.links.ccplus'}}{{/link-to}}</li>
            <li class="divider"></li>            
            <li> {{#link-to 'edpicks'}}<i class="fa fa-fw fa-thumbs-o-up"></i> {{qt 'navbar.links.edpicks'}}{{/link-to}}</li>
            <li class="divider"></li>            
            <li class="hidden-xs hidden-sm">
              {{#link-to  'query'}}<i class="fa fa-tags"></i> {{qt 'queryOptions.deep'}}{{/link-to}}
            </li>
          </ul>
      </li>
    </ul>    
  </div>{{! -- collapse -- }}
</div>{{! container-fluid }}

<article class="container-fluid center-text" id="qop">
  <form class="form-inline">
    <div class="form-group">
        <div class="btn-group">
            {{query-opt 'licenseScheme' 'open'   (qt 'queryOptions.licenses.free')   activate=1 class="btn btn-primary btn-sm"}}
            {{query-opt 'licenseScheme' 'ccplus' (qt 'queryOptions.licenses.ccplus') activate=1 class="btn btn-primary btn-sm"}}
            {{query-opt 'licenseScheme' 'all'    (qt 'queryOptions.licenses.all')    activate=1 class="btn btn-primary btn-sm"}}
        </div>
        <a {{action "popup" "license"}}><i class="fa fa-question-circle"></i></a>        
    </div>  
    <div class="form-group">
      <label class="btn btn-primary btn-sm">
        {{input type="checkbox" disabled=loading checked=queryOptions.instrumentalOnly }} {{t 'queryOptions.instrumental'}}
      </label>
    </div>
    <div class="form-group">
      <div class="btn-group">
        <a class="btn dropdown-toggle btn-primary {{if loading 'disabled'}}" data-toggle="dropdown" href="#">
          <span class="light-text">{{qt 'queryOptions.limit'}}</span> <strong>{{queryOptions.limit}}</strong>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
              <li>{{query-opt "limit" 10 }}</li>
              <li>{{query-opt "limit" 20 }}</li>
              <li>{{query-opt "limit" 50 }}</li>
              <li>{{query-opt "limit" 100 }}</li>
        </ul>
      </div>
    </div>        
    <div class="form-group">
      <label class="btn btn-primary btn-sm">
        {{input type="checkbox" disabled=loading checked=queryOptions.recent }} {{qt 'queryOptions.recent'}}
      </label>
    </div>
    <div class="form-group">
        <a href='#' class="btn btn-sm btn-warning {{if queryOptions.optionsAreClean 'disabled'}}" {{action "clearOptions"}}><i class="fa fa-power-off"></i> {{qt 'queryOptions.reset'}}</a>
    </div>
  </form>
</article>
</nav>  
