<div id="wrap">
  {{page-banner}}
  {{partial "app-header"}} 
  <div class="outlet-wrap">
    {{outlet}}
  </div>
</div>
{{partial "app-footer"}}
{{outlet "modal"}}
{{#if audioPlayer.nowPlaying}} 
  {{audio-player}}
{{/if}}
{{browser-scripts playerShowing=audioPlayer.nowPlaying}}
