<div id="wrap">
{{page-banner}}
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#dig-collapse" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}<img src="dig-images/logo.png" title="dig.ccMixter" />{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="dig-collapse">
      <ul class="nav navbar-nav">
        <li>
            <div class="btn-group">
                {{query-opt 'licenseScheme' 'open'   'free'     activate=1 class="btn btn-default"}}
                {{query-opt 'licenseScheme' 'ccplus' 'licensed' activate=1 class="btn btn-default"}}
                {{query-opt 'licenseScheme' 'all'    'all'      activate=1 class="btn btn-default"}}
            </div>
        </li>
        <li>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="light-text">project type</span> <strong id="project-type">any</strong>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" data-update-hint="project-type">
              <li data-dropdown-hint="video">{{link-to 'music for video' 'video' }}</li>
              <li data-dropdown-hint="games">{{link-to 'music for games' 'games' }}</li>
              <li class="divider"></li>
              <li>{{link-to 'any' 'dig' }}</li>
            </ul>
          </div>
        </li>          
        <li>
          {{link-to (t 'queryOptions.deep') 'query'}}
        </li>
        <li>
          {{#if loading}}<a href='#'><i style="color:white" class="fa fa-spinner fa-pulse"></i></a>{{/if}}
        </li>    
      </ul>{{! main navbar }}
      <form role="search" class="navbar-form navbar-right">
        <div class="form-group input-group input-group-small">
            {{input type="text" 
              class="form-control" 
              value=searchCollector
              enter="search"
              id="dig"
              size="20"
              placeholder=(t 'navbar.searchPlaceHolder')
            }}
          <span class="input-group-addon">              
            <a href='#' {{action "search" searchCollector}} ><i class="fa fa-search"></i></a>
          </span>
        </div>      
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" {{action 'goToAnchor' 'index' 'howitworks'}}>how it works</a>
        </li>
        <li>
          {{link-to 'licenses' 'licenses'}}
        </li>
        <li>
            <a class="query-options-toggle" {{action 'toggleOptions'}}>{{t 'navbar.options'}} 
              <span class="glyphicon glyphicon-chevron-{{if optionsOpen 'down' 'up'}}" aria-hidden="true"></span>
            </a>
        </li>
      </ul>    
    </div>{{! -- collapse -- }}
  </div>{{! container-fluid }}

  <article class="container-fluid center-text">
    <form class="form-inline">
      <div class="form-group">
        <label class="btn btn-primary btn-sm">
          {{input type="checkbox" checked=queryOptions.instrumentalOnly }} instrumentals only
        </label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
            <span class="light-text">results</span> <strong>{{queryOptions.limit}}</strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
                <li>{{query-opt "limit" 10 }}</li>
                <li>{{query-opt "limit" 20 }}</li>
                <li>{{query-opt "limit" 50 }}</li>
                <li>{{query-opt "limit" 100 }}</li>
          </ul>
        </div>
      </div>        
      <div class="form-group">
        <label class="btn btn-primary btn-sm">
          {{input type="checkbox" checked=queryOptions.matchAnyTags }} match any tag
        </label>
      </div>
      <div class="form-group">
        <label class="btn btn-primary btn-sm">
          {{input type="checkbox" checked=queryOptions.recent }} recent
        </label>
      </div>
    </form>
  </article>
</nav>  
 
  <div class="outlet-wrap">
  {{outlet}}
  </div><!-- outlet-wrap -->
  
</div><!-- #wrap -->
<div class="container-fluid footer">
  <div class="row">
  <div class="col-md-3">
    <h1>{{t 'footer.here'}}</h1>
    <ul>
    <li>{{link-to (t 'footer.licenses') 'licenses'}}</li>
    <li><a href="http://ccmixter.org/privacy">{{t 'footer.privacy'}}</a></li>
    <li><a href="http://ccmixter.org/terms">{{t 'footer.terms'}}</a></li>
    <li><a href="http://ccmixter.org/keep-ccmixter-open-and-free"><i class="fa fa-heart"></i> {{t 'footer.donate'}}</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <h1>{{t 'footer.there'}}</h1>
    <div class="row">
    <div class="col-md-6">
      <a href="http://ccmixter.org">
      <div class="brand-glyph ccmixter"></div>
      </a>
      <a href="http://tunetrack.net/artistech/">
      <div class="brand-glyph artistech"></div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="http://tunetrack.net">
      <div class="brand-glyph tunetrack"></div>
      </a>
      <a href="http://creativecommons.org">
      <div class="brand-glyph cc"></div>
      </a>
    </div>
    </div>
  </div>
  <div class="col-md-3">
    <h1>{{t 'footer.social'}}</h1>
    <ul>
    <li><a href="https://twitter.com/ccmixtermusic"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="https://www.youtube.com/channel/UCU7QBXVX4gcePOcEyha7yng"><i class="fa fa-youtube"></i> YouTube</a></li>
    <li><a href="https://vimeo.com/ccmixter"><i class="fa fa-vimeo"></i> Vimeo</a></li>
    <li><a href="https://www.facebook.com/CCMixter"><i class="fa fa-facebook"></i> Facebook</a></li>
    <li><a href="http://instagram.com/ccmixter"><i class="fa fa-instagram"></i> Instagram</a></li>
    </ul>
  </div>
  <div class="col-md-3">
    <h1>{{t 'footer.resources'}}</h1>
    <ul>
    <li><a href="https://github.com/ArtisTechMedia/dig.ccMixter"><i class="fa fa-github"></i> GitHub</a></li>
    <li><a href="http://ccmixter.org/query-api">Query API</a></li>
    <li><a href="https://ccmixter.org/forum">{{t 'footer.forums'}}</a></li>
    <li><a href="http://ccmixter.org/media/people/contact/admin">{{t 'footer.contactLink'}}</a></li>
    </ul>
  </div>
  </div>
</div>
{{outlet "modal"}}
{{#if audioPlayer.nowPlaying}} 
  {{audio-player}}
{{/if}}
{{browser-scripts playerShowing=audioPlayer.nowPlaying}}