<div class="content">
    <div class="row">
        <div class="col-md-4 center-text license-images">
            <a href="{{licenseInfo.byURL}}" ><img src="{{licenseInfo.byLogoURL}}" class="licenseLogo" /></a>
            <a href="{{licenseInfo.byURL}}" >{{licenseInfo.linkToLic}}</a>
        </div>
        <div class="col-md-7">
            <div class="text license-description">
                {{licenseInfo.byDesc}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 center-text license-images">
            <a href="{{licenseInfo.byncURL}}" ><img src="{{licenseInfo.byncLogoURL}}" class="licenseLogo" /></a>
            <a href="{{licenseInfo.byncURL}}" >{{licenseInfo.linkToLic}}</a>
        </div>
        <div class="col-md-7">
            <div class="text license-description">
                {{licenseInfo.byncDesc}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 center-text license-images">
            <a href="{{licenseInfo.ccplusURL}}" ><img src="{{licenseInfo.ccplusLogoURL}}" class="licenseLogo" /></a>
            <a href="{{licenseInfo.ccplusURL}}" >{{licenseInfo.example}}</a>
        </div>
        <div class="col-md-7">
            <div class="text license-description">
                {{licenseInfo.ccplusDesc}}
            </div>
        </div>
    </div>
</div>