<div class="page-header">
    <h1 class="center-text"><img class="img-circle" src="{{model.artist.avatarURL}}" /> {{model.artist.name}}</h1>
    <div class="center-text">
        <a class="btn btn-info" href="{{model.artist.url}}" target="_blank"><i class="fa fa-external-link"></i> @ccMixter</a>
        {{#if model.artist.homepage}}
            <a class="btn btn-info" href="{{model.artist.homepage}}" target="_blank"><i class="fa fa-external-link"></i> {{t 'user.homepage'}}</a>
        {{/if}}
    </div>
</div>
{{partial "playlist"}}
{{#if modelIsEmpty}}
  <div class="container-fluid no-hit-suggestion">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron empty-query">
          <h1>wups, {{model.artist.name}} doesn't have that kind of music...</h1>
            <ul>
              {{#unless queryOptions.optionsAreClean}}
                <li>
                  {{t 'playlist.tryReset'}} 
                    <a href='#' class="btn btn-sm btn-warning" {{action "clearOptions"}}><i class="fa fa-power-off"></i> {{qt 'queryOptions.reset'}}</a>
                </li>
              {{/unless}}
            </ul>
        </div>
      </div>
    </div>
  </div>
{{/if}}